
.tradingview-widget-container[b-p8t08kndwd] {
    position: absolute; /* Sabit konumda olacak */
    top: 0;
    left: 0;
    height: 100vh; /* Viewport yüksekliği */
    width: 100vw; /* Viewport genişliği */
}

.tradingview-widget-container__widget[b-p8t08kndwd] {
    height: 100%;
    width: 100%;
}

.tradingview-widget-copyright[b-p8t08kndwd] {
    display: none; /* Copyright kısmını gizle */
}
